In [ ]:
#float to int
b=90.0
a=int(b)
print(a)
#str to int
c="90"
d=int(c)
print(d)
#int to str
e=89
g=str(e)
print(g)
#float to str
f=8.9
h=str(f)
print(h)
print(type(g))
print(type(h))

# Task 1:

# Accept Basic salary and find gross salary. 
# Gross salary =Basic salary+ DA + HRA

# # if basic salary is less than 20000 then HRA is 76% and DA is 78% on Basic salary

# # if basic salary is between 20000 to 30000 then HRA is 79% and DA is 82% on Basic salary

# # if basic salary is more than 30000 then HRA is 85% and DA is 89% on Basic salary

In [6]:
basic_salary = int(input("Enter basic salary"))
if basic_salary < 0 :
    print("Enter valid salary")
elif basic_salary<=20000 :
    HRA = int((basic_salary*76)/100)
    DA = int((basic_salary*78)/100)
elif basic_salary <= 30000 :
    HRA = int((basic_salary*79)/100)
    DA = int((basic_salary*82)/100) 
else :
    HRA = int((basic_salary*85)/100)
    DA = int((basic_salary*89)/100) 
    
gross_salary = basic_salary + HRA + DA
print(gross_salary)

Enter basic salary25000
65250

---

TDS Calculation Based on Salary

1. Salary ≤ ₹5,00,000

TDS: 0%


2. ₹5,00,001 to ₹10,00,000

₹5,00,001 to ₹7,00,000: 5%

₹7,00,001 to ₹10,00,000: 10%


3. ₹10,00,001 to ₹20,00,000

₹5,00,001 to ₹7,00,000: 5%

₹7,00,001 to ₹10,00,000: 10%

₹10,00,001 to ₹15,00,000: 15%

₹15,00,001 to ₹20,00,000: 20%


4. ₹20,00,001 to ₹30,00,000

Same slabs apply:

₹5,00,001 to ₹7,00,000: 5%

₹7,00,001 to ₹10,00,000: 10%

₹10,00,001 to ₹15,00,000: 15%

₹15,00,001 to ₹20,00,000: 20%

₹20,00,001 to ₹30,00,000: 30%



5. Salary > ₹30,00,000

Use same slab rates up to ₹30,00,000

Amount above ₹30,00,000: 30%



---

In [5]:
salary = int(input("Enter salary: "))
tds = 0

if salary <= 500000:
    tds = 0

elif salary <= 1000000:
    if salary <= 700000:
        salary_ = salary - 500000
        tds += (salary_*5)/100
    else:
        salary_ = salary - 700000
        tds += (200000*5)/100+(salary_*10)/100

elif salary <= 2000000:
    if salary <= 1500000:
        salary_ = salary - 1000000
        tds += (200000*5)/100 + (300000*10)/100 + (salary_*15)/100
    else:
        salary_ = salary - 1500000
        tds += (200000*5)/100 + (300000*10)/100 + (500000*15)/100 + (salary_*20)/100

else:
    salary_ = salary - 2000000
    tds += (200000*5)/100 + (300000*10)/100 + (500000*15)/100 + (500000*20)/100 + (salary_*30)/100

print(f"TDS to be deducted: {round(tds, 2)}")

Enter salary: 2300000
TDS to be deducted: ₹305000.0